@import "tailwindcss";

:root {
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-family: var(--sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

@theme {
  --color-accent: #aa3bff;
  --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
}

:root {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* We use classes pure from Tailwind for avoid conflicts */
  @apply min-h-screen bg-[#F8FAFC] text-slate-900 antialiased;
  margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}